<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.graduateinfo.mapper.MajorsMapper">

    <resultMap id="BaseResultMap" type="com.example.graduateinfo.model.domain.Majors">
            <id property="majorId" column="MajorID" jdbcType="INTEGER"/>
            <result property="majorName" column="majorName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        MajorID,majorName
    </sql>
</mapper>
